body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #36cf36;
  
}

header {
  background-color: #fafefb;
  padding: 20px;
  color: rgb(60, 86, 135);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: rgb(247, 243, 243);
  background: #005fa3;
  padding: 8px 12px;
  border-radius: 4px;
}

nav a:hover {
  background: #004f8b;
}

.centered {
  text-align: center;
  padding: 50px;
}

.btn {
  background-color: #0077cc;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form-container form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
