<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MyBlog Writing</title>
  <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
  <header>
    <h1>MyBlog</h1>
    <nav>
      <a href="login.html">Login</a>
      <a href="signup.html">Sign Up</a>
    </nav>
  </header>

  <main class="centered">
    <h1>Welcome to MyBlog!</h1>
    <p><h2>Read amazing blogs and write your own to inspire the world. Keep writing Keep reading.</h2></p>
    <h2><a href="login.html" class="btn">Start Writing</a></h2>
  </main>
</body>
</html>
